#navigation-plus-edit .toolbar-label {
 margin-top: 1em;
}

.navigation-plus-mode-button,
.navigation-plus-mode-link {
  &::before {
    display: block;
    flex-shrink: 0;
    width: calc(1.2 * var(--admin-toolbar-rem));
    height: calc(1.2 * var(--admin-toolbar-rem));
    content: "";
    background-color: currentColor;
    mask-repeat: no-repeat;
    mask-position: center center;
    mask-size: 100% auto;
  }
  &.active, &.active:hover:focus {
    background-color: var(--navigation-plus-main-color);
    color: var(--admin-toolbar-color-white);
    &::before {
      background-color: var(--admin-toolbar-color-white);
    }
  }
}

.navigation-plus-hidden {
  display: none !important;
}

#navigation-plus .item-list li {
  margin: 0;
}

@keyframes pop {
  from { background-color: rgb(from var(--navigation-plus-highlight-color) r g b / 1); }
  to { background-color: rgb(from var(--navigation-plus-highlight-color) r g b / 0); }
}
.call-attention-to {
  background-color: inherit;
  animation: pop 3s;
  animation-fill-mode: forwards;
}

.np-highlight {
  background-color: var(--navigation-plus-highlight-color) !important;
}

