.layout-builder-block {
  position: relative;
  .block-indicator {
    display: none;
  }
  &:hover, &:has(.always-on) {
    .block-indicator:has(.tool-indicator) {
      position: absolute;
      top: 0; bottom: 0; left: 0; right: 0;
      z-index: 5;
      background: rgba(255, 255, 255, 0.5);
      outline: 2px solid rgb(from var(--navigation-plus-main-color) r g b / 0.5);
      outline-offset: -1px;
      display: flex;
      align-items: center;
      justify-content: center;
      &:hover {
        outline-color: var(--navigation-plus-main-color);
        outline-width: 3px;
        outline-offset: -2px;
        background: rgba(255, 255, 255, .75);
        .tool-indicator {
          opacity: 1;
        }
      }
      &.np-highlight-block {
        outline-color: var(--navigation-plus-highlight-color) !important;
      }
      .tool-indicator {
        height: 100%;
        box-sizing: border-box;
        opacity: .5;
        padding: .5em;
        display: flex;
        align-items: center;
        justify-content: center;
        .indicator-icon {
          height: 3em;
          max-height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          svg path {
            fill: var(--navigation-plus-main-color);
          }
          &.hover {
            outline: 1px solid var(--navigation-plus-main-color);
            background: rgba(255, 255, 255, 0.8);
          }
        }
      }
    }
  }
}
