[data-edit-plus-field-value-wrapper] {
  position: relative;
  display: block;
  .field-indicator {
    display: none;
  }
  &:hover {
    .field-indicator:not(.disabled):has(.tool-indicator) {
      position: absolute;
      top: 0; bottom: 0; left: 0; right: 0;
      z-index: 1;
      background: rgba(255, 255, 255, 0.5);
      outline: 1px solid rgb(from var(--navigation-plus-main-color) r g b / 0.5);
      outline-offset: -1px;
      display: flex;
      align-items: center;
      justify-content: center;
      .tool-indicator {
        height: 100%;
        box-sizing: border-box;
        display: flex;
        align-items: center;
        justify-content: center;
        opacity: .5;
        padding: .5em;
        width: 100%;
        .indicator-icon {
          height: 3em;
          max-height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          svg path {
            fill: var(--navigation-plus-main-color);
          }
          &:hover {
            outline: 1px solid var(--navigation-plus-main-color);
            background: rgba(255, 255, 255, 0.8);
          }
        }
      }
      &:hover {
        outline-color: var(--navigation-plus-main-color);
        outline-width: 1px;
        outline-offset: -1px;
        background: rgba(255, 255, 255, .4);
        .tool-indicator {
          opacity: 1;
        }
      }
    }
  }
}
