parameters:
	ignoreErrors:
		-
			message: """
				#^Class Drupal\\\\commerce_invoice\\\\Element\\\\LanguageConfiguration extends deprecated class Drupal\\\\Core\\\\Render\\\\Element\\\\FormElement\\:
				in drupal\\:10\\.3\\.0 and is removed from drupal\\:12\\.0\\.0\\. use
				  \\\\Drupal\\\\Core\\\\Render\\\\Element\\\\FormElementBase instead\\.$#
			"""
			count: 1
			path: src/Element/LanguageConfiguration.php
