.drop-zone-wrapper {
  display: contents;
  .drop-zone {
    /*height: 4em;*/
    height: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(73, 126, 254, 0.21);
    font-size: 1em;
    font-weight: 800;
    outline: 1px dashed rgba(0, 0, 0, 0.25);
    transition: height 0.4s ease-out, outline-width 0.4s steps(1, end), outline-color 0.4s steps(1, end);
    overflow: hidden;
    .drop-zone-label {
      /*opacity: 1;*/
      opacity: 0;
      transition: opacity 0.3s ease-out;
    }
    &.open {
      outline-width: 2px;
      outline-offset: -2px;
      height: 4em;
      outline-color: rgba(0, 0, 0, 1);
      transition: height 0.4s ease-out, outline-width 0s;
      .drop-zone-label {
        opacity: 1;
      }
    }
    &.hover {
      color: black;
      background-color: #ffd;
      outline: 2px dashed #fedb60;
    }
  }
}
