@use 'sass:color';

.search-toggle {
  .search-toggle__button {
    appearance: none;
    background: none;
    outline: none;
    border: none;
    padding: 12px;
    width: 48px;
    height: 48px;
  }

  .icon {
    width: 24px;
    height: 24px;
    color: $theme-primary;
    fill: $theme-primary;
  }
}

.search-close {
  .search-close__button {
    appearance: none;
    background: none;
    outline: none;
    border: none;
    padding: 12px;
    width: 48px;
    height: 48px;
  }

  .icon {
    width: 24px;
    height: 24px;
    color: $theme-primary;
    fill: $theme-primary;
  }
}

.search-field {
  margin-top: 0;
  margin-bottom: 0;
  height: 48px;

  input {
    appearance: none;
    border: none;
    color: $color-heading;
    height: 48px;
    line-height: 30px;
    padding: 7px 16px 7px 40px;
    outline: none;
    border-radius: 4px;
    width: 100%;
    background: color.adjust($color-bg-body, $lightness: -4%);

    &::placeholder {
      color: $color-text-placeholer;
    }

    &:focus {
      background: #fff;
      box-shadow:
        0 3px 1px -2px rgb(0 0 0 / 20%),
        0 2px 2px 0 rgb(0 0 0 / 14%),
        0 1px 5px 0 rgb(0 0 0 / 12%); // MDC z2
    }
  }

  input.form-autocomplete {
    background: color.adjust($color-bg-body, $lightness: -4%) !important;

    &:focus {
      background: #fff !important;
      box-shadow:
        0 3px 1px -2px rgb(0 0 0 / 20%),
        0 2px 2px 0 rgb(0 0 0 / 14%),
        0 1px 5px 0 rgb(0 0 0 / 12%); // MDC z2
    }
  }

  .search-autocomplete-open & {
    input.form-autocomplete:focus {
      box-shadow: none;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }
  }

  &__group {
    position: relative;
    max-width: $ms;
  }

  &__icon {
    position: absolute;
    left: 11px;
    top: 12px;
    color: $color-text-placeholer;
    fill: $color-text-placeholer;
  }

  /* Clear input button
  input {
    padding-right: 48px;
  }

  .search-field__clear {
    position: absolute;
    top: 4px;
    right: 4px;
    z-index: 101;
  }
  */
}

.search-api-autocomplete-search {
  padding-top: 0;
  padding-bottom: 8px;
  z-index: 100;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;

  &::before {
    display: block;
    content: '';
    position: absolute;
    pointer-events: none;
    z-index: -1;
    inset: -48px 0 0;
    border-radius: 4px;
    box-shadow:
      0 3px 1px -2px rgb(0 0 0 / 20%),
      0 2px 2px 0 rgb(0 0 0 / 14%),
      0 1px 5px 0 rgb(0 0 0 / 12%); // MDC z2
  }

  &.ui-widget {
    border: 0;
  }

  .ui-menu-item {
    display: block;
    background: none;
  }

  .search-api-autocomplete-suggestion {
    position: relative;
    padding: 8px 40px;
  }

  .ui-menu-item-wrapper {
    display: block;
    font-size: $font-size-text;
    line-height: $line-height-text;
    position: relative;
    background: none;

    &:hover,
    &.ui-state-active {
      .search-api-autocomplete-suggestion {
        background: color.adjust($color-bg-body, $lightness: -4%);
        color: $color-heading;
      }
    }
  }
}

.search-results-list__item {
  .item-footer {
    font-size: $font-size-text-small;
    line-height: $line-height-text-small;
    margin-top: $spacing;

    a {
      color: $theme-primary;
      overflow-wrap: break-word;
    }
  }

  .item-title {
    font-size: $font-size-h6;
    line-height: $line-height-h6;
    margin-bottom: $spacing;

    a {
      text-decoration: none;
      color: $color-heading;

      &:hover {
        color: $theme-primary;
        text-decoration: underline;
      }
    }
  }

  .item-content {
    font-size: $font-size-text-small;
    line-height: $line-height-text-small;
    overflow-wrap: break-word;
  }
}
