@use 'sass:color';

.style-guide {
  code,
  pre {
    font-size: 14px;
    line-height: 20px;
    font-family: 'Roboto Mono', monospace;
    background: color.adjust($color-bg-body, $lightness: -6%);
  }

  &__example-block {
    background: color.adjust($color-bg-body, $lightness: -8%);
    margin-bottom: $spacing * 2;
    padding: $spacing * 1.5 $spacing * 2;
  }

  &__example-color {
    width: 240px;
    height: 64px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: $spacing;
  }

  &__section {
    // stylelint-disable-next-line
    @extend .spacing-mb-small;
  }

  &__section + &__section {
    // stylelint-disable-next-line
    @extend .spacing-pt-small;

    border-top: 1px solid color.adjust($color-bg-body, $lightness: -20%);
  }

  &__section-title {
    // stylelint-disable-next-line
    @extend .block-title-standard;

    margin-bottom: $spacing * 3;
  }

  &__section-subtitle {
    // stylelint-disable-next-line
    @extend .block-title-small;

    margin-top: $spacing * 3;
    margin-bottom: $spacing * 3;
  }

  &__items {
    display: flex;
    flex-wrap: wrap;
    margin: $spacing * 2 $spacing * -2 $spacing * 2 $spacing * -2;

    &--stacked {
      flex-direction: column;
    }

    &--v-centered {
      align-items: center;
    }

    &.style-guide__item {
      margin: $spacing 0 $spacing 0;
    }
  }

  &__item {
    margin: $spacing $spacing * 2;

    .icon {
      display: block;
    }

    &--bg-dark {
      background: $color-bg-dark;
    }

    &--bg-primary {
      background: $theme-primary;
    }
  }

  &__code-snippet {
    margin-top: $spacing * 2;
    margin-bottom: $spacing * 2;

    &.mb-dropdown {
      border: 1px solid color.adjust($color-bg-body, $lightness: -10%);
    }

    .mb-dropdown__toggle {
      padding: ($spacing * 1.5) - 1 ($spacing * 2) - 1;
    }

    .mb-dropdown__panel {
      position: static;
      padding: ($spacing * 2) - 1;
      background: color.adjust($color-bg-body, $lightness: -6%);
      border-top: 1px solid color.adjust($color-bg-body, $lightness: -10%);
    }

    pre {
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  &__card-container {
    max-width: $ms;
  }

  &__navbar {
    position: static !important;
  }

  &__overlay {
    position: relative;
    max-width: 360px;
    min-height: 480px;
    border: 1px solid $color-border;
  }

  &__accordion {
    .mb-accordion__section {
      border: 1px solid color.adjust($color-bg-body, $lightness: -10%);
    }

    .mb-accordion__section + .mb-accordion__section {
      border-top: 0;
    }

    .mb-accordion__section-toggle {
      padding: ($spacing * 2) - 1;
    }

    .mb-accordion__section-panel {
      padding: ($spacing * 2) - 1;
      background: color.adjust($color-bg-body, $lightness: -6%);
      border-top: 1px solid color.adjust($color-bg-body, $lightness: -10%);
    }
  }

  &__dropdown {
    .mb-dropdown__panel {
      padding: $spacing * 2;
      border-radius: 4px;
      box-shadow:
        0 3px 1px -2px rgb(0 0 0 / 20%),
        0 2px 2px 0 rgb(0 0 0 / 14%),
        0 1px 5px 0 rgb(0 0 0 / 12%); // MDC z2
    }
  }
}
