
.draggable-block,
.draggable-section {
  margin: 0;
  -webkit-user-drag: element;
  user-select: none;
  -webkit-user-select: none;
  cursor: move;
  &:hover {
    outline: 2px solid var(--drupal-admin-color-green-300,#00cc6d);
  }
}

#promoted-block-content, #section_library-left-sidebar {
  grid-template-columns: 1fr 1fr;
  column-gap: .5em;
  row-gap: .5em;
  padding: 0 .5em;
  .draggable-block,
  .draggable-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: .25rem;
    background-color: var(--drupal-admin-color-gray-050, #f3f5f9);
    border: 1px solid var(--drupal-admin-color-gray-100, #d8dfea);
  }
  .draggable-block-label {
    text-align: center;
  }
}

[data-admin-toolbar="expanded"] #empty-section {
  grid-column: span 2;
}

/* Navigation module collapsed mode */
[data-admin-toolbar="collapsed"]  {
  /* You can only see promoted blocks when collapsed */
  #choose-block-tabs {
    display: none;
  }
  #promoted-block-content {
    grid-template-columns: 1fr;
    padding-top: 1em;
    padding-bottom: 4em;
  }
  #place_block-left-sidebar {
    width: 7em;
  }
}

#promoted-block-content, #section_library-left-sidebar {
  .draggable-block-image {
    padding: 1em;
    text-align: center;
    display: block;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }
}

.draggable-block-label {
  font-size: var(--drupal-admin-font-size-info-sm, calc(0.875 * max(1rem, 16PX)));
  font-variation-settings: 'wght' 700;
  color: var(--drupal-admin-color-gray-800, #4f5661);
}


/* Tab styling */
#choose-block-tabs {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 1em 0;
}

.choose-block-tab {
  font-size: var(--drupal-admin-color-gray-800, #4f5661);
  color: var(--drupal-admin-color-gray-900, #323946);
  font-variation-settings: 'wght' 700;
  user-select: none;
  -webkit-user-select: none;
  cursor: pointer;
  padding: 0.5em 1em;
}

#close-add-block-sidebar:hover,
.choose-block-tab:hover {
  outline: 1px solid white;
}

.choose-block-tab.active {
  text-decoration-line: underline;
  text-decoration-color: var(--drupal-admin-color-gray-800, #4f5661);
  text-decoration-thickness: 5px;
}

#close-add-block-sidebar {
  transform: rotate(45deg);
}

.tabbed-content {
  display: none;
}

.tabbed-content.active {
  display: grid;
}

#other-block-content {
  grid-template-columns: 1fr;
  margin: 0 .5em;
  .details-wrapper {
    margin: 0;
  }
  .draggable-block {
    margin-top: 0;
  }
  details {
    border: none;
    box-shadow: none;
    &:last-child {
      padding-bottom: 4em;
    }
  }
  summary {
    background-color: transparent;
    font-size: var(--drupal-admin-font-size-info-sm, calc(0.875 * max(1rem, 16PX)));
    font-variation-settings: 'wght' 700;
    color: var(--drupal-admin-color-gray-800, #4f5661);
  }
  [type="search"] {
    width: 100%;
  }
}
