.setting-details.file-association-details {
  .setting-wrapper {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .remove-association {
    background: center no-repeat url(../../../../assets/x.svg) ;
    height: 20px;
    width: 20px;
    padding: 0 1.5rem;
    cursor: pointer;
  }
}
