
#section_library-left-sidebar {
  .draggable-block-image {
    padding: 2em 4em;
  }
  .draggable-block {

    &:first-of-type {
      margin-top: 1em;
    }
    &:last-of-type {
      margin-bottom: 5em;
    }
  }
}
