@use '@material/typography';

.form-item {
  legend,
  label:not(.mdc-text-field, .option) {
    @include typography.typography(body2);
  }

  .description {
    @include typography.typography(caption);
  }

  // Support of full width fields was removed from MDC, but we can do it ourself.
  .mdc-text-field--fullwidth {
    width: 100%;

    // stylelint-disable-next-line
    .cke_chrome {
      width: 100%;
    }
  }

  // There is no easy way to know is CKEditor enabled for the field or not.
  .mdc-text-field--textarea {
    // Fixing CKEditor width on small screens.
    max-width: 100%;
    display: block;

    // Replacing margins by padding since we changed display mode from flex to block.
    .mdc-text-field__input {
      margin-top: 0;
      margin-bottom: 0;
      padding-top: 16px;
      padding-bottom: 16px;
    }

    // Placing CKEditor above floating label by default.
    // stylelint-disable-next-line
    .cke_chrome {
      position: relative;
      z-index: 2;
    }
  }
}

details > summary {
  @include typography.typography(body2);
}

.button-submit {
  position: relative;

  &__input {
    position: absolute;
    inset: 0;
    appearance: none;
    margin: 0;
    padding: 0;
    border: 0;
    opacity: 0;
    width: 100%;
    height: 100%;
    display: block;
  }
}

.form-item__label {
  .form-item--focused &.label-not-floating {
    color: $theme-primary;
  }
}
