.navbar-menu--dropdown {
  .mdc-menu-dropdown__toggle .icon {
    transition: transform 0.25s;
  }

  .mdc-menu-dropdown--expanded .mdc-menu-dropdown__toggle .icon {
    transform: rotate(180deg);
  }
}

.navbar-menu--level-1.mdc-menu-surface--open {
  display: inline-block;
}
