.file-indicator {
  position: absolute;
  top: 0; bottom: 0; left: 0; right: 0;
  z-index: 5;
  background: rgba(255, 255, 255, 0.5);
  outline: 1px solid rgb(from var(--navigation-plus-main-color) r g b / 0.5);
  outline-offset: -1px;
  display: flex;
  align-items: center;
  justify-content: center;
  &:hover {
    outline-color: var(--navigation-plus-main-color);
    outline-width: 1px;
    outline-offset: -1px;
    background: rgba(255, 255, 255, .4);
    .tool-indicator {
      opacity: 1;
    }
  }
  &:has(.dz-preview) {
    .file-indicator-icon {
      display: none;
    }
  }
  .file-indicator-icon {
    height: 3em;
    max-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    svg path {
      fill: var(--navigation-plus-main-color);
    }
  }
  .dz-preview {
    outline-color: var(--navigation-plus-main-color);
    outline-width: 1px;
    outline-offset: -1px;
    background: rgba(255, 255, 255, .6);
    position: absolute;
    top: 1px; bottom: 1px; left: 1px; right: 1px;
    display: grid;
    align-content: center;
    justify-content: center;
    text-align: center;
    * svg path {
      fill: var(--navigation-plus-main-color);
    }
    .dz-success-mark, .dz-error-mark {
      display: none;
    }
  }
}
